<div *ngIf="cartProducts.length; else empty" class="container">
  <h2 class="text-center">Your order:</h2>
  <table>
    <tbody>
      <tr *ngFor="let product of cartProducts; let i = index">
        <td>{{product.type}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency}}</td>
        <td>
          <button (click)="removeProduct(product)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <b class="right">Total: {{totalPrice | currency}}</b>
  <h2 class="text-center">Delivery:</h2>
  <h2 *ngIf="status" class="text-center text-danger">{{status}}</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
        <small *ngIf="form.get('name').errors['required']">Enter your name</small>
      </div>
    </div>
    <div class="form-control">
      <label for="phone">Phone number</label>
      <input id="phone" type="number" formControlName="phone">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
        <small *ngIf="form.get('phone').errors['required']">Enter your phone number</small>
      </div>
    </div>
    <div class="form-control">
      <label for="address">Address</label>
      <input id="address" type="text" formControlName="address">
      <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
        <small *ngIf="form.get('address').errors['required']">Enter your address</small>
      </div>
    </div>
    <div class="form-control">
      <label for="payment">Payment method:</label>
      <select formControlName="payment" id="payment">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Add</button>
  </form>
</div>
<ng-template #empty>
  <p class="text-center">Cart is empty</p>
</ng-template>