<div *ngIf="products.length; else loading">
  <h2 class="text-center">Product Dashboard</h2>
  <div class="form-control">
    <input type="text" placeholder="Find a product..." [(ngModel)]="productName">
  </div>
  <table>
    <thead>
      <tr>
        <th>№</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Open</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | search: productName; let i = index">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.date | date:'short'}}</td>
        <td>
          <button class="btn btn-dark" [routerLink]="['/admin', 'product', product.id, 'edit']">Open</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="remove(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>